/* LANDING PAGE --------------------------------------------------------------*/

html,body {
    min-height:100%;
    width: 100%;
    margin:0;
}

.landingbg {
    height:100%;
    width:100%;
    background-image: url(../images/bg/landscape-a.png);
    background-size:110rem;
    background-position:center;
    background-repeat:no-repeat;
}

.home_title {
    font-family:"Amarante", sans-serif;
    font-size:5rem;
    color:white;
    text-align:center;
    text-shadow: 2px 2px 2px black, 0 0 25px magenta, 0 0 5px violet;
}

.home_subtitle {
    font-family:"GFS Neohellenic", sans-serif;
    color:white;
    text-align:center;
    font-size:1.5rem;
    text-shadow: 2px 2px 1px black, 0 0 25px magenta, 0 0 10px violet;

}

.header {
    max-width:50em;
    margin:auto;
    margin-top:10em;
    margin-bottom:10em;
}

#nav,
.navbuttons {
    margin:auto;
    text-align:center;
}

.nav ul {
    margin-top:10em;
    padding-left:0;
}

.navbuttons .btn {
    border-radius:0;
    font-family:"Goudy Bookletter 1911", sans-serif;
    font-size:2em;
    border:dotted 1px white;
    margin:.5em;
    background-color:#C34196;
}

.navbuttons .btn:hover {
    background-color:#8a1f64;
    border:solid 1px #8a1f64;
}

/* NAVBAR ------------------------------------------------------------------- */

.navbar {
    background-color:#8a1f64;
    color:white;
    font-family: "Amarante", sans-serif;
}

.navbar a {
    color:white;
}

.navbar-toggler-icon {
    color:white;
}

/* RECIPES -------------------------------------------------------------------*/

.landingbglong {
    height:100vh;
    margin:0;
    width:100%;
    background-image: url(../images/bg/landscape-a.png);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    overflow:auto;
}

.page_header {
    margin-top:2em;
    margin-bottom:2em;
}

.icons {
    width:100%;
    padding-top:5em;
    padding-bottom:5em;
    background-color:rgb(224,201,166, 1);
    font-family: "Amarante", sans-serif;
}

.modal {
    font-family: "Amarante", sans-serif;
}

.iconholder {
    margin:auto;
    text-align:center;
    max-width:60em;
    color:black;
}

.icons .row {
    padding-left:0;
    margin:auto;
    text-align:center;
}

.icons button {
    background-color:rgb(255, 255, 255, 0);
    margin-bottom:1em;
}

.icons img {
    max-width:10em;
}

.recipes .modal-dialog {
    max-width: 90%!important;
}

.modal img {
    margin:auto;
    max-width:35em;
}

/* ART GALLERY -------------------------------------------------------------- */

#credits_icons img {
    margin-bottom:1em;
}

/* CREDITS ------------------------------------------------------------------ */
#creditsimg {
    max-width: 100%;
}

.credits-container {
    max-width: 50em !important;
}

.credits-container a {
    color: #0a2d55;
}

.credits-container a:hover {
    color: #061d38;
}

.credits-container .row img {
    width: 7em;
    border-radius: 7em;
}

.credits-container p {
    font-weight: 800;
}

.credits-container h2 {
    font-family: "Amarante";
}

.credits-container .col-sm {
    margin-bottom: 3em !important;
}

#noharm {
    position:relative;
    bottom: 0;
    max-width:20em!important;
}

#credits_list {
    padding-bottom:0;
    background-color:rgb(224,201,166, 1);
    font-family: "Goudy Bookletter 1911", sans-serif;
}